<%= render :partial=>"shared/user_header" %>

<h1>Relationships</h1>

<table>
  <tr>
    <th></th>
    <th>Person</th>
    <th></th>
    <th>Relationship</th>
    <th>Status</th>
  </tr>

<% @relationships.each do |relationship| %>
  <tr>
    <td><%= image_tag relationship.main_picture.url(:thumb) %></td>
    <td><%= link_to relationship.other(@user).name, relationship.other(@user) %></td>
    <td>is <%= @user.possessive_identifier(current_user) %></td>
    <td><%= link_to relationship.name_for(@user), relationship %></td>
    <td><%= relationship.status_message_for(current_user) %></td>
  </tr>
<% end %>
</table>

<br />

