<%= render :partial => "shared/relationship_header" %>
<%= render :partial => "shared/relationship_sub_nav" %>


<h1>Perspectives on this Relationship</h1>
<table>
<tr>

<td>
<table>
  <th><%= @relationship.first_user.possessive_identifier(current_user) %> perspective</th>
  <th><%= @relationship.second_user.possessive_identifier(current_user) %> perspective</th>

<!--
  <tr>
    <td>Other Person Looks Like:</td>
    <td><%= @relationship.perspective_for_first_user.picture %></td>
    <td><%= @relationship.perspective_for_second_user.picture %></td>
  </tr>
-->

  <tr>
    <td>Other Person:</td>
    <td><%= @relationship.perspective_for_first_user.name %></td>
    <td><%= @relationship.perspective_for_second_user.name %></td>
  </tr>

  <tr>
    <td>Description of Relationship:</td>
    <td><%= @relationship.perspective_for_first_user.description %></td>
    <td><%= @relationship.perspective_for_second_user.description %></td>
  </tr>
</table>
</td>

<td>
<%= image_tag @relationship.main_picture.url(:thumb) %>
</td>

</tr>
</table>


