<%= javascript_include_tag "prototype" %>

<%= render :partial=>"shared/user_header" %>

<%= link_to "edit profile", edit_user_path(@user) %>

<table>
<th>Information</th>
<th><%= @user.possessive_identifier(current_user) %> Relationships</th>


<tr>
<td>

<table class="pretty">
  <tr>
    <td>Picture</td>
    <td><%= image_tag @user.profile_picture.url(:thumb) unless @user.profile_picture_file_name.nil? %></td>
  </tr>


  <tr>
    <td>Status:</td>
    <td><%=h @user.status %></td>
  </tr>

</table>
</td>

<td>

<table>

<% @user.relationships.each do |rel| %>
<tr>
<td>
<table class="pretty">
  <tr>
    <td><%= image_tag rel.pictures.first.image.url(:thumb) if rel.pictures.first %></td>
    <td><%= rel.description %></td>
    <%= link_to rel.perspective_for(@user).name, rel %>
  </tr>
</table>
</td>
</tr>
<% end %>
<tr><td><%= link_to "Show all Relationships", user_relationships_path(@user) %></td></tr>
</table>

</td>
</tr>
</table>




<% content_for :right do %>
  <div id="update_me" align="left">
  </div>
<% end %>


