<%= javascript_include_tag "prototype" %>

<%= link_to "edit profile", edit_user_path(@user) %>

<table>
  <tr>
    <td>Picture</td>
    <td><%= image_tag @user.profile_picture.url(:thumb) unless @user.profile_picture_file_name.nil? %></td>
  </tr>


  <tr>
    <td>Status:</td>
    <td><%=h @user.status %></td>
  </tr>

  <tr>
    <td>First name:</td>
    <td><%=h @user.first_name %></td>
  </tr>

  <tr>
    <td>Last name:</td>
    <td><%=h @user.last_name %></td>
  </tr>

</table>

<tr><%= link_to "#{@user.possessive_identifier(current_user)} Relationships", user_relationships_path(@user) %></tr>


<% form_remote_tag :update => 'update_me', :url => '/user_search/search' do %>
  <%= text_field_tag 'query', 'Enter your query here' %>
  <%= submit_tag "Search" %>
<% end %>

<div id="update_me">
</div>


<% content_for :right do %>
  Right!
<% end %>

<% content_for :left do %>
  Left!
<% end %>
