<%= javascript_include_tag "prototype" %>

<%= link_to "edit profile", edit_user_path(@user) %>

<p>
  <%= image_tag @user.profile_picture.url(:thumb) unless @user.profile_picture_file_name.nil? %>
</p>

<p>
  <b>Status:</b>
  <%=h @user.status %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p><%= link_to "#{@user.possessive_identifier(current_user)} Relationships", user_relationships_path(@user) %></p>


<% form_remote_tag :update => 'update_me', :url => '/user_search/search' do %>
  <%= text_field_tag 'query', 'Enter your query here' %>
  <%= submit_tag "Search" %>
<% end %>

<div id="update_me">
</div>


<% content_for :right do %>
  Right!
<% end %>

<% content_for :left do %>
  Left!
<% end %>
